@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;700&family=Karla:wght@400;800&display=swap");

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    @apply text-teal-200;
}

/* Create an active/current tablink class */
.tab button.active {
    @apply font-bold;
    @apply text-teal-500;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

.card{
    transition: transform .1s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
}