{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'quizApps/css/style.css' %}">
</head>
<body class="bg-gray-800 font-medium">
    <header class="pt-5">
        <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-around md:flex-row md:px-6">
            <div class="flex flex-row items-center justify-between">
                <a href="{% url 'index' %}" class="text-white font-title font-bold text-3xl 3xl:text-6xl 3xl:m-8 justify-end">Quiz<span class="text-teal-500">Biblio</span></a>
                <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline text-white" @click="open = !open">
                    <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                      <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                      <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div :class="{'flex': open, 'hidden': !open}"  class=" flex-grow pb-4 md:pb-0 hidden md:flex justify-center md:justify-end md:flex-row items-center">
                <a href="login.html" class="text-teal-500 mx-5 self-center text-center px-5 py-2 font-semibold hover:bg-gray-200 rounded-lg">Se connecter</a>
                <a href="register.html" class="text-white mx-2 bg-teal-500 px-5 py-2 rounded-md 3xl:px-8 3xl:py-5">S'inscrire</a>
            </div>
        </div>
    </header>

    {% block body %}
    {% endblock %}

    <footer class="md:flex justify-around mx-auto my-5">
        <div class="text-white font-title self-center text-center">
            <h1 class="font-semibold text-3xl 3xl:text-6xl">QuizBiblio</h1>
            <p class="text-lg text-gray-400 3xl:text-4xl max-w-lg mx-auto 3xl:max-w-5xl">Testez vos connaissances littéraires, cinématographiques et musicales.</p>
            <p class="3xl:text-4xl">© 2021 - Fabien Hannon </p>
        </div>
        <form class="text-white font-title text-center mt-10 md:mt-0">
            <h1 class="font-semibold text-2xl 3xl:text-5xl">Un problème, une suggestion ?</h1>
            <div class="my-2 md:flex mx-auto md:mx-0">
                <input type="text" placeholder="Prénom" class="bg-gray-700 p-2 3xl:p-5 3xl:mr-5 3xl:my-5 3xl:text-4xl focus:outline-none focus:placeholder-teal-500">
                <input type="text" placeholder="Nom" class="md:ml-10 mt-2 mb:mt-0 bg-gray-700 p-2 3xl:ml-5 3xl:my-5 3xl:text-4xl focus:outline-none focus:placeholder-teal-500">
            </div>
            <div class="flex flex-col mx-auto">
                <input type="text" placeholder="Adresse e-mail" class="mb-2 3xl:my-5 md:w-auto md:mx-0 w-80 mx-auto bg-gray-700 3xl:p-5 3xl:text-4xl p-2 focus:outline-none focus:placeholder-teal-500">
                <textarea placeholder="Ecrire ici votre message" class="bg-gray-700 md:w-auto md:mx-0 w-80 mx-auto 3xl:my-5 p-2 3xl:p-5 3xl:text-4xl focus:outline-none focus:placeholder-teal-500"></textarea>
            </div>
            <button type="submit" class="border-white border-2 mx-auto md:mx-0 focus:outline-none px-5 py-2 my-5 3xl:text-4xl items-center text-white hover:bg-white hover:text-gray-800 flex">Envoyer
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 ml-2 3xl:h-16 3xl:w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg></button>
        </form>
    </footer>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>