<table class="min-w-max w-full table-auto">
    <thead>
        <tr class="bg-teal-500 text-gray-100 uppercase text-sm leading-normal">
            <th class="py-3 px-6 text-center">Position</th>
            <th class="py-3 px-6 text-center">Utilisateur</th>
            <th class="py-3 px-6 text-center">Points</th>
        </tr>
    </thead>
    <tbody class="text-gray-100 text-lg font-light">
        {% for user in users %}
        <tr>
            <td class="py-3 px-6 text-center">
                <span class="py-1 px-3 rounded-full">{{forloop.counter}}</span>
            </td>
            <td class="py-3 px-6 text-center">
                <span class="py-1 px-3 rounded-full">{{user.username}}</span>
            </td>
            <td class="py-3 px-6 text-center">
                <span class=" text-white py-1 px-3 rounded-full">{{user.score}}</span>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="py-3 px-6 text-center" colspan="3">
                <span class="py-1 px-3 rounded-full">Aucun utilisateur n'a de score sur des quiz liés à ce thème</span>
            </td>
        </tr>
        {% endfor %}
</table>