{% extends 'quizApps/base.html' %}
{% load static %}


{% block body %}
<div class="overflow-x-auto">
    <div class="min-w-screen min-h-screen flex items-center justify-center bg-gray-100 font-sans overflow-hidden">
        <div class="w-full lg:w-5/6">
            <div class="bg-white shadow-md rounded my-6">
                <table class="min-w-max w-full table-auto">
                    <thead>
                        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-left">Client</th>
                            <th class="py-3 px-6 text-center">Points</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light">
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 px-6 text-left">
                                <span class="py-1 px-3 rounded-full text-xs">Admin</span>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <span class="bg-teal-200 text-teal-600 py-1 px-3 rounded-full text-xs">100</span>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}