{% extends 'quizApps/base.html' %} {% block body %}
<div class="overflow-x-auto">
    <div class="min-w-screen flex justify-center bg-gray-800 font-sans overflow-hidden">
        <div class="max-w-screen-md lg:w-5/6">
            <h1 class="text-center text-4xl text-white my-10">Classement par thème</h1>
            <div class="flex justify-evenly flex-wrap">
                {% for theme in themes %}
                <button type="button" id="{{theme.id}}" onclick="callAjax($(this));return false;" class="text-gray-300 focus:bg-teal-500 focus:text-gray-900 shadow-lg bg-gray-900 px-10 font-semibold py-2 m-2 rounded-full">{{theme}}</button> 
                {% endfor %}
            </div>
            <div class="bg-gray-900 shadow-md rounded my-6" id="table">
            </div>
            {% if themes %}
            <p class="text-gray-400 text-center" id="message">Choisissez un thème</p>
            {% else %}
            <p class="text-gray-400 text-center">Aucun thème disponible.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %} {% block footer %} {% endblock %} {% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    function callAjax($this) {
        let id = $this.attr("id");
        $.ajax({
            method: "GET",
            url: "rankings-response",
            "dataType": "html",
            "data": {
                id: id
            },
            success: function(data) {
                $("#table").html(data);
                $("#message").hide();
            }
        });
    }
</script>
{% endblock %}