{% extends 'quizApps/base.html' %}
{% load static %}

{% block body %}
<section class="flex h-screen lg:max-w-6xl 3xl:max-w-screen-3xl items-center -mt-10 mx-auto">
    <section class="lg:flex mx-auto">
        <article class="max-w-lg 3xl:max-w-6xl mx-auto mt-8 text-center lg:text-left">
            <h1 class="text-white text-4xl lg:text-5xl 3xl:text-7xl font-bold text-center lg:text-left">Testez votre
                culture <span class="text-teal-500">littéraire, cinématographique</span>
                et <span class="text-teal-500">musicale</span> !</h1>
            <p
                class="font-display text-white font-normal text-sm 3xl:text-4xl text-center lg:text-left max-w-md 3xl:max-w-3xl my-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <a href="#button-all-quiz" class="text-white bg-teal-500 px-8 py-3
                    rounded-md hover:bg-white hover:text-teal-500 3xl:text-5xl 3xl:inline-block 3xl:px-14 3xl:py-8">Commencer un quiz</a>
        </article>
        <aside class="mt-20 lg:mt-0 3xl:max-w-screen-3xl lg:ml-40 mx-auto">
            <img src="{% static 'images/demo2.png' %}" class="" alt="app demo" width="500px">
        </aside>
    </section>
</section>

<section class="bg-gray-700 pt-8 pb-52">
    <div class="container mx-auto">
        <h1 class="text-white text-4xl text-center 3xl:text-7xl 3xl:my-16">Créez et jouez à de nombreux quiz !</h1>
        <div class="uppercase mt-8 text-gray-400 flex justify-evenly text-center tab">
            <button class="tablinks w-96" id="button-all-quiz" onclick="openMenu(event, 'all-quiz')">Tous les
                quiz</button>
            <!--<button class="tablinks w-96" id="button-create-quiz" onclick="openMenu(event, 'create-quiz')">Créer un
                quiz</button>-->
            <button class="tablinks w-96" id="button-my-quiz" onclick="openMenu(event, 'my-quiz')">Mes quiz</button>
        </div>
        <article class="lg:grid-cols-2 gap-16 font-display p-2 mt-8 mx-auto tabcontent " id="all-quiz">
            <a href="#"
                class="bg-gray-800 sm:flex text-center max-w-lg md:text-left p-5 mx-auto my-5 rounded-3xl items-center 3xl:max-w-3xl shadow-2xl card">
                <img src="{% static 'images/CVT_HP.jpg' %}"
                    class="mx-auto md:mx-5 w-28 3xl:w-64 object-scale-down" alt="quiz image">
                <div class="text-white">
                    <h1 class="text-2xl font-extrabold 3xl:text-6xl">Harry Potter</h1>
                    <h2 class="text-gray-300 text-lg 3xl:text-4xl 3xl:mt-2">Littérature</h2>
                    <div class="text-sm my-2 3xl:text-2xl">
                        <p>Mon Score : </p>
                        <p>Classement : </p>
                    </div>
                    <div class="flex 3xl:flex-col text-md font-semibold font-title 3xl:text-3xl">
                        <p class="text-teal-500 w-32 3xl:w-auto">5 Questions</p>
                        <p class="w-32 3xl:w-auto">Par Fabien H</p>
                    </div>
                </div>
            </a>
            <a href="#"
                class="bg-gray-800 sm:flex text-center max-w-lg md:text-left p-5 mx-auto my-5 rounded-3xl items-center 3xl:max-w-3xl shadow-2xl card">
                <img src="{% static 'images/CVT_Vingt-mille-lieues-sous-les-mers.jpg' %}"
                    class="mx-auto md:mx-5 w-28 3xl:w-64 object-scale-down" alt="quiz image">
                <div class="text-white">
                    <h1 class="text-2xl font-extrabold 3xl:text-6xl">Vingt Milles Lieues Sous les Mers</h1>
                    <h2 class="text-gray-300 text-lg 3xl:text-4xl 3xl:mt-2">Littérature</h2>
                    <div class="text-sm my-2 3xl:text-2xl">
                        <p>Mon Score : </p>
                        <p>Classement : </p>
                    </div>
                    <div
                        class="flex justify-center md:justify-start 3xl:flex-col text-md font-semibold font-title 3xl:text-3xl">
                        <p class="text-teal-500 w-32 3xl:w-auto">10 Questions</p>
                        <p class="w-32 3xl:w-auto">Par Fabien H</p>
                    </div>
                </div>
            </a>
        </article>

        <!-- CREATE QUIZ MENU -->
        <!--<article
            class=" text-white max-w-2xl 3xl:max-w-7xl mx-auto my-5 font-display tabcontent text-center md:text-left"
            id="create-quiz">
            <h1 class="text-teal-500 text-2xl 3xl:text-6xl">Etape 1</h1>
            <div class="md:ml-8 my-5 max-w-2xl mx-auto">
                <h2 class="text-2xl 3xl:text-5xl font-light">Titre</h2>
                <input type="text" maxlength="40"
                    class="bg-gray-800 text-white my-4 3xl:text-4xl p-4 3xl:my-8 focus:outline-none rounded-md focus:placeholder-teal-500 w-96"
                    placeholder="Titre du quiz">
                <h2 class="text-2xl 3xl:text-5xl font-light">Description</h2>
                <textarea placeholder="Décrivez ici votre quiz (200 caractères)"
                    class="bg-gray-800 p-4 my-4 3xl:my-8
                        3xl:text-4xl focus:outline-none focus:placeholder-teal-500 rounded-md border-gray-400 3xl:max-w-7xl" rows="4" cols="50" maxlength="200"></textarea>
                <h2 class="text-2xl 3xl:text-5xl font-light">Image (facultatif)</h2>
                <div class="mt-5 flex justify-center self-center 3xl:ml-72 ">
                    <div class="flex" id="localImage">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 3xl:h-16 3xl:w-16 flex self-center"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                                clip-rule="evenodd" />
                        </svg>
                        <div class="flex self-center">
                            <input type="file" id="file" class="file">
                            <label for="file"
                                class="text-white cursor-pointer ml-5 md:w-40 3xl:w-96 3xl:text-4xl">Charger une
                                image</label>
                            <p class="file-name font-light ml-8 3xl:text-4xl"></p>
                        </div>
                    </div>
                    <input type="text" placeholder="Entrer une URL" id="urlInput"
                        class="3xl:text-4xl hidden absolute p-2 w-80 bg-gray-800 focus:outline-none focus:placeholder-teal-500">
                    <button class="flex focus:outline-none ml-24" id="url" onclick="UrlClick()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 3xl:h-16 3xl:w-16" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                        <h3 class="3xl:text-4xl flex self-center md:w-40 3xl:w-96">Depuis une page web</h3>
                    </button>
                    <button onclick="Reset()" class="-mt-3 ml-28 hidden" id="urlRemove">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 absolute" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="md:flex items-center">
                    <button
                        class="mt-5 bg-gray-800 p-2 rounded-lg focus:outline-none hover:bg-gray-900 hover:text-teal-500"
                        onclick="DeleteImages()">Supprimer l'image</button>
                    <div class="ml-1 mt-2">
                        <p class="text-gray-400 mt-2">Formats acceptés: <span class="text-teal-500">JPEG, PNG</span></p>
                        <p class="text-gray-400">Taille maximale: <span class="text-teal-500">2Mo</span></p>
                    </div>
                </div>
            </div>
            <div class="flex md:justify-end justify-center">
                <a href="#"
                    class="text-white mx- r-0 bg-teal-500 px-8 py-3 rounded-md hover:bg-teal-600 3xl:text-4xl">Continuer</a>
            </div>
        </article>-->

        <article class="lg:grid-cols-2 gap-16 font-display p-2 mt-8 mx-auto tabcontent" id="my-quiz">
            <div href="#"
                class="bg-gray-800 sm:flex text-center max-w-lg md:text-left p-5 mx-auto my-5 rounded-3xl items-center 3xl:max-w-3xl shadow-2xl card">
                <img src="{% static 'images/CVT_HP.jpg' %}"
                    class="mx-auto md:mx-5 w-28 3xl:w-64 object-scale-down" alt="quiz image">
                <div class="text-white">
                    <a href="#" class="flex justify-end text-teal-500 hover:text-white 3xl:text-4xl">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 " viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                        </svg>
                        <p>Editer</p>
                    </a>
                    <h1 class="text-2xl font-extrabold 3xl:text-6xl">Harry Potter</h1>
                    <h2 class="text-gray-300 text-lg 3xl:text-4xl 3xl:mt-2">Littérature</h2>
                    <div class="text-sm my-2 3xl:text-2xl">
                        <p>Mon Score : </p>
                        <p>Classement : </p>
                    </div>
                    <div class="flex 3xl:flex-col text-md font-semibold font-title 3xl:text-3xl">
                        <p class="text-teal-500 w-32 3xl:w-auto">5 Questions</p>
                        <p class="w-32 3xl:w-auto">Par Fabien H</p>
                    </div>
                </div>
            </div>
            <div href="#"
                class="bg-gray-800 sm:flex text-center max-w-lg md:text-left p-5 mx-auto my-5 rounded-3xl items-center 3xl:max-w-3xl shadow-2xl card">
                <img src="{% static 'images/CVT_Vingt-mille-lieues-sous-les-mers.jpg' %}"
                    class="mx-auto md:mx-5 w-28 3xl:w-64 object-scale-down" alt="quiz image">
                <div class="text-white">
                    <a href="#" class="flex justify-end text-teal-500 hover:text-white 3xl:text-4xl">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 " viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                        </svg>
                        <p>Editer</p>
                    </a>
                    <h1 class="text-2xl font-extrabold 3xl:text-6xl">Vingt Milles Lieues Sous les Mers</h1>
                    <h2 class="text-gray-300 text-lg 3xl:text-4xl 3xl:mt-2">Littérature</h2>
                    <div class="text-sm my-2 3xl:text-2xl">
                        <p>Mon Score : </p>
                        <p>Classement : </p>
                    </div>
                    <div class="flex 3xl:flex-col text-md font-semibold font-title 3xl:text-3xl">
                        <p class="text-teal-500 w-32 3xl:w-auto">5 Questions</p>
                        <p class="w-32 3xl:w-auto">Par Fabien H</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links
        $("a").on('click', function (event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    });
</script>
<script type="text/javascript">
    /*const file = document.querySelector('#file');
    file.addEventListener('change', (e) => {
        // Get the selected file
        const [file] = e.target.files;

        // Get the file name and size
        const { name: fileName, size } = file;
        // Convert size in bytes to kilo bytes
        if (size > 2000000) {
            alert('File is too large');
        } else {
            const fileSize = (size / 1000).toFixed(2);
            // Set the text content
            const fileNameAndSize = `${fileName} - ${fileSize}KB`;
            document.querySelector('.file-name').textContent = fileNameAndSize;
        }
    });

    function DeleteImages() {
        document.querySelector('#file').value = '';
        document.querySelector('.file-name').textContent = '';
        document.querySelector('#urlInput').value = '';
    }

    function UrlClick() {
        document.querySelector('#localImage').style.visibility = 'hidden';
        document.querySelector('#urlInput').classList.replace('hidden', 'visible');
        document.querySelector('#localImage').style.visibility = 'hidden';
        document.querySelector('#url').classList.add('hidden');
        document.querySelector('#urlRemove').classList.replace('hidden', 'visible');
        document.querySelector('#file').value = '';
        document.querySelector('.file-name').textContent = '';
    }

    function Reset() {
        document.querySelector('#localImage').style.visibility = 'visible';
        document.querySelector('#urlInput').classList.replace('visible', 'hidden');
        document.querySelector('#localImage').style.visibility = 'visible';
        document.querySelector('#url').classList.replace('hidden', 'visible');
        document.querySelector('#urlRemove').classList.replace('visible', 'hidden');
        document.querySelector('#urlInput').value = "";
    }*/

    document.getElementById("button-all-quiz").click();

    function openMenu(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;
        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "grid";
        evt.currentTarget.className += " active";
    }
</script>
{% endblock %}