{% extends 'quizApps/base.html' %} {% load static %} {% block body %}
<section class="flex lg:h-screen lg:max-w-6xl items-center mx-auto">
    <section class="lg:flex mx-auto">
        <article class="max-w-lg  mx-auto mt-8 text-center lg:text-left">
            <h1 class="text-white text-4xl lg:text-5xl font-bold text-center lg:text-left">Testez votre culture <span class="text-teal-500">littéraire, cinématographique</span> et <span class="text-teal-500">musicale</span> !</h1>
            <p class="font-display text-white font-normal text-sm text-center lg:text-left max-w-md my-8">
                Développez vos connaissances sur différents thèmes et testez votre culture générale</p>
            <a href="#button-all-quiz" class="text-gray-800 bg-teal-500 px-8 py-3
                    rounded-md hover:bg-white hover:text-teal-500 ">Commencer un quiz</a>
        </article>
        <aside class="mt-20 lg:mt-0 mx-auto lg:ml-40">
            <img src="{% static 'quizApps/images/demo2.png' %}" alt="app demo" width="450px">
        </aside>
    </section>
</section>

<section class="bg-gray-700 pt-8 pb-52">
    <div class="container mx-auto">
        <h1 class="text-white text-4xl text-center">Jouez à de nombreux quiz !</h1>
        <article class="font-display p-2 mt-8 mx-auto flex justify-center flex-wrap" id="button-all-quiz">
            {% for quiz in quizzes %}
            <a href="{% url 'play-quiz' quiz.id %}" class="bg-gray-800 text-center w-3/12 p-5 mx-auto my-5 rounded-3xl card">
                {% if quiz.image %}
                <img src="{{MEDIA_URL}}{{quiz.image.url}}" alt="image {{quiz.id}}" class="mx-auto w-48 object-scale-down">
                {% endif %}
                <h1 class="text-4xl font-extrabold text-white">{{quiz}}</h1>
                <h2 id="themes" class="text-gray-300 text-lg">{{quiz.theme1}}
                    <span class="ml-8">{% if quiz.theme2 %}{{quiz.theme2}}{% endif %}</span>
                </h2>
                <div class="flex  text-lg font-semibold font-title justify-center text-white">
                    <p class="text-teal-500 w-32">{{quiz.question_set.count}} Question {% if quiz.question_set.count > 1 %}s{% endif %}</p>
                    <p class="w-32">Par {{quiz.userquiz_set.first}}</p>
                </div>
            </a> {% empty %}
            <p class="text-white">Aucun quiz disponible.</p>
            {% endfor %}
        </article>
    </div>
</section>
{% endblock %} {% block scripts %}
<script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function(e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>
{% endblock %}