{% extends 'quizApps/base.html' %}
{% load static %}

{% block styles %}
<style>
    input {
        background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
        padding: 8px;
        width: 100%;
        color: white;
        height: 35px;
    }

    label {
        color: white;
    }

    .errorlist {
        color: #EF4444;
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px rgba(31, 41, 55, var(--tw-bg-opacity)) inset !important;
        -webkit-text-fill-color: white !important;
    }
</style>
{% endblock %}


{% block body %}
<section class="flex flex-col items-center mt-48">
    <section class="bg-gray-700 mx-auto py-5 font-bold px-14 max-w-sm">
        <h1 class="text-white pb-5 text-3xl text-center">Se connecter</h1>
        <form action="{% url 'login' %}" method="post" class="flex flex-col justify-center">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="text-white bg-teal-500 px-8 py-3 mt-5 rounded-md hover:outline-none hover:bg-white hover:text-teal-50 text-center
                focus:outline-none focus:bg-white focus:text-teal-500">Se connecter</button>
        </form>
    </section>
    <a href="{% url 'register' %}" class="font-display text-white text-sm my-2">Vous n'avez pas de compte ?
        S'inscrire</a>
</section>
{% endblock %}

{% block footer %}
{% endblock %}