{% extends 'quizApps/base.html' %}
{% load static %}

{% block body %}
<section class="mx-auto mt-10 max-w-3xl justify-center items-center">
    {% if quiz.image %}
    <img src="{{MEDIA_URL}}{{quiz.image.url}}" alt="{{quiz.title}} image" class="mx-auto w-56" />
    {% endif %}
    <div class="ml-8 text-center max-w-2xl">
        <h1 class="text-white text-5xl mt-5 font-bold">{{ quiz.title }}</h1>
        <div class="flex mt-2 justify-center">
            <h2 class="text-gray-400 mt-2">By {{quiz.userquiz_set.first}}</h2>
            <h3 class="text-gray-400 mt-2">&#x1F516; {{quiz.theme1}} {% if quiz.theme2 %} -
                {{quiz.theme2}}{% endif %} </h3>
        </div>
        <p class="text-white mt-2">{{quiz.description}}</p>
        {% if validList %}
        <p class="text-white mt-2 text-2xl">&#x1F3C6; <span id="score">{{score}}</span> points</p>
        <p class="text-white mt-2 text-md">You correctly answered {{rightAnswers}} out of {{questions.items|length}} questions</p>
        {% endif %}
    </div>
</section>

{% if not validList %}
<button id="start"
    class="flex items-center text-teal-500 mx-auto text-3xl  mt-10 focus:outline-none hover:text-white">Start now
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 ml-2 mt-1" viewBox="0 0 20 20"
        fill="currentColor">
        <path fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
            clip-rule="evenodd" />
    </svg>
</button>
<div class="hidden">
    <p id="timer" class="text-center text-white text-4xl font-title">0</p>
</div>
{% endif %}


<form class="opacity-0 hidden my-14" action="{% url 'play-quiz' quiz.id %}" method="post" id="quiz">
    {% csrf_token %}
    {% for question, props in questions.items %}
    <section
        class="max-w-2xl mx-auto mt-5 bg-gray-700 text-white px-8 py-5 rounded-lg font-title shadow-lg">
        <h2 class="font-semibold ">Question {{forloop.counter}}</h2>
        {% if question.image %}
        <img src="{{MEDIA_URL}}{{question.image.url}}" alt="{{question.title}} image" class="mx-auto w-48"/>
        {% endif %}
        <h1 class="text-teal-500 text-4xl mt-2 font-bold ">{{question}}</h1>
        {% if validList %}
        <div class="hidden" id="infos-{{question.id}}">
            <p id="message-{{question.id}}" class="text-teal-500 mt-2 font-bold ">Correct !</p>
            <p id="desc" class="font-display">{{question.explication}}</p>
        </div>
        {% endif %}
    </section>
    <section
        class="max-w-2xl mx-auto my-5 text-white font-display flex-wrap flex justify-evenly items-center">
        {% for prop in props %}
        {% if validList %}
        <p class="bg-gray-700 rounded-lg px-8 py-4 my-5 flex justify-center shadow-lg"
            id="{{prop.id}}">
            {% if prop.image %}
            <img src="{{MEDIA_URL}}{{prop.image.url}}" alt="image-prop-{{prop.id}}" width="200px" />
            {% else %}
            {{prop}}
            {% endif %}
        </p>
        {% else %}
        <div>
            <input class="proposition" type="checkbox" name="question-{{question.id}}" value="{{prop.id}}"
                id="{{prop.id}}">
            <label
                class="bg-gray-700 rounded-lg px-8 py-4 my-5 flex justify-center shadow-lg cursor-pointer"
                for="{{prop.id}}">
                {% if prop.image %}
                <img src="{{MEDIA_URL}}{{prop.image.url}}" alt="image-prop-{{prop.id}}" width="200px" />
                {% else %}
                {{prop}}
                {% endif %}
            </label>
        </div>
        {% endif %}
        {% endfor %}
    </section>
    {% endfor %}
    {% if not validList %}
    <input type="submit" id="submitBtn"
        class="mx-auto block bg-teal-500 px-8 py-4 text-white font-display font-bold rounded text-xl cursor-pointer hover:bg-white hover:text-teal-500">
    {% else %}
    <a href="{% url 'index' %}" class="mx-auto w-max block text-center bg-teal-500 px-8 py-4 text-white font-display font-bold rounded text-xl 
        cursor-pointer hover:bg-white hover:text-teal-500">Main menu</a>
    {% endif %}

    <input type="hidden" name="time" id="time" value="" />

</form>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{{validList|json_script:'valid'}}
{{choices|json_script:'choices'}}
{{choicesDict|json_script:'choicesDict'}}
{{validDict|json_script:'validDict'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    let nbQuestions = "{{nbQuestion}}";
    for (let i = 1; i <= nbQuestions; i++) {
        let prop = $("input[name=question-" + i + "]:checked");
        prop.attr("selected", false);
    }

    $(document).ready(() => {
        let valids = JSON.parse(document.getElementById("valid").textContent);
        let choices = JSON.parse(document.getElementById("choices").textContent);
        let choicesDict = JSON.parse(document.getElementById("choicesDict").textContent);
        let validDict = JSON.parse(document.getElementById("validDict").textContent);


        for (let i = 0; i < valids.length; i++) {
            let valid = $("#" + valids[i]).addClass("bg-teal-600").removeClass("bg-gray-700");
        }

        for (let i = 0; i < choices.length; i++) {
            let choice = $("#" + choices[i]).addClass("border-4");
            if (valids.includes(parseInt(choice.attr("id")))) {
                choice.addClass("border-teal-400").removeClass("border-red-500");
            } else {
                choice.addClass("border-red-500");
            }
        }
        for (key in choicesDict) {
            $("#infos-" + key.replace('question', '')).removeClass("hidden");
            const array2Sorted = validDict[key].slice().sort();
            var test = choicesDict[key].length === validDict[key].length && choicesDict[key].slice().sort().every(function (value, index) {
                return value === array2Sorted[index];
            });
            message = $("#message-" + key.replace('question', ''));
            if (test == true) {
                message.text("Correct \u{1F60E}").removeClass("text-red-500").addClass("text-teal-500");

            } else {
                message.text("Wrong \u{1F625}").removeClass("text-teal-500").addClass("text-red-500");
            }
        }

        window.addEventListener("pageshow", () => {
            $('#quiz')[0].reset();
        });

        function hello() {
            $("#quiz").removeClass("hidden");
            if ($('form').css('opacity') == 0) {
                $('form').css('opacity', 1);
            }
            else {
                $('form').css('opacity', 0);
            }
            $("#start+div").removeClass("hidden");
            var initialTime = Date.now();

            setInterval(() => {
                var timeDifference = Date.now() - initialTime;
                var formatted = convertTime(timeDifference);
                $("#timer").text('' + formatted);
                document.getElementById("time").value = Math.floor(timeDifference / 1000);
            })

            function convertTime(miliseconds) {
                var totalSeconds = Math.floor(miliseconds / 1000);
                var minutes = Math.floor(totalSeconds / 60);
                var seconds = totalSeconds - minutes * 60;
                return minutes + ':' + seconds + "s";
            }
            $("#start").addClass("hidden");
        }

        if (!valids) {
            document.getElementById("start").addEventListener("click", hello);
        } else {
            $('form').css('opacity', 1).removeClass("hidden");
        }
    });
</script>
{% endblock %}